#contact{
    width: 80%;
    #form{
        width: 30%;
        margin-top: 20px;
        // border-top: 1px solid $darkgrey;
        display: flex;
        flex-direction: column;
        .option{
            margin-bottom: 50px;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid $darkgrey;
        }
        input{
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
            border: 1px solid $darkgrey;
        }
        .btn_form{
        @extend %button;
        }
        .form-error{
            // background: $red;
            border: 3px dashed $red;
            padding: px;
            width: 98%;
            height: 60px;
            padding: 10px;
            color: $darkgrey;
            border-radius: 10px;
        }
    }
}