// Colors 
$clear: white;
$green: rgb(10, 153, 10);
$ligthgrey: rgb(219, 219, 219);
$input_text: grey;
$darkgrey: rgb(59, 59, 59);
$red : rgb(255, 70, 70);
$blue: rgb(70, 70, 255);

//Hovers
$hover-red: rgb(158, 43, 43);
$hover-green: rgb(10, 121, 10);
$hover-blue: rgb(52, 52, 187);

// Backgrounds
$bodybg: url(../assets/hojas.jpg);

//Fonts
$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;




